*{
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 30px;
   background-color: rgb(38, 37, 37);
   color: antiquewhite;
   text-align: center;
   
}

ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
}